
@media (max-width: 1560px) {
  .gallery__swiper {
    width: 920px;
  }

  .modal-btn-open {
    left: 40%;
  }

  .modal-btn-open::after {
    height: 395%;
    left: -134%;
  }

  .accordion__painter-list {
    padding-right: 0;
    columns: auto 3;
    column-gap: 0;
  }

  .projects-swiper {
  max-width: 1200px;
  }

  .contacts__container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .contacts__container {
    padding-top: 43px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }

  .contacts-form {
    gap: 20px;
  }

  .contacts-form__btn {
    width: 344px;
  }
}

@media (max-width: 1360px) {

  /*header*/
  .container {
    padding: 0 50px;
  }

  .header__nav {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 90px;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    padding: 50px 50px;
    box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
    outline: none;
  }

  .nav__list {
    flex-direction: column;
    margin-bottom: 73px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }

  .nav__link-enter {
    max-width: 200px;
    padding: 19px 0 23px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .burger {
    position: relative;
    display: block;
    width: 36px;
    height: 28px;
  }

  .burger__line {
    position: absolute;
    left: 0;
    width: 36px;
    height: 3.65px;
    background-color: #ffffff;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }


  .burger__line:nth-child(2) {
    width: 28px;
    top: 50%;
    transform:translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 0;
    width: 24px;
  }

  .burger:focus-visible {
    outline-offset: 5px;
    outline: 2px solid var(--color-violet-text);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    width: 36px;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    width: 36px;
    bottom: auto;
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .header__btn-search {
    display: block;
  }

  .header__link-enter {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__bottom {
    display: none;
  }

  /*hero*/
  .hero {
    padding: 105px 0px 137px 0px;
  }

  .hero__content {
    width: 75%;
  }

  .hero__title {
    margin-bottom: -10px;
  }

  .hero__descr {
    margin-bottom: 155px;
  }

  /*about*/
  .about__descr {
    width: 100%;
  }

  /*gallery*/
  .gallery {
    padding: 78px 0 77px;
  }

  .gallery__container {
    justify-content: space-between;
  }

  .choices {
    margin-bottom: 102px;
  }

  .gallery__wrapper {
    align-self: flex-start;
    width: 38%;
  }

  .gallery__swiper {
    min-width: 595px;
    width: 50%;
    padding-top: 87px;
  }

  .gallery__swiper .swiper-button-prev {
    top: 41px;
  }

  .gallery__swiper .swiper-button-next {
    top: 42px;
  }

  .gallery__swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 27px;
  }

  .modal-btn-open {
    left: 50%;
  }

  .modal-btn-open::after {
    width: 293%;
    height: 344%;
    left: -95%;
    top: -106%;
  }

  /*catalog*/
  .catalog__descr {
    width: 100%;
  }

  .accordion__painter-list {
    padding-right: 0;
    columns: auto 2;
    gap: 20px;
  }

  .accordion__painter-list hr {
    break-after: avoid-column;
    display: none;
  }

/*events*/

  .events__title {
    margin-top: -4px;
    margin-bottom: 13px;
  }

  .article-events__content {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 48px;
  }

  .article-events {
    min-height: 682px;
  }

  .article-events__address-time {
    align-self: flex-end;
    margin-bottom: 2px;
  }

  .article-events__address-time address {
    padding-left: 42px;
  }

  .swiper-button-next-events {
    display: none;
  }

  .events-swiper .swiper-pagination-events {
    display: block;
    top: 98%;
  }

  .swiper-pagination-events .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-events .swiper-pagination-bullet-active {
    background-color: #666666;
  }

  .events__list {
    padding-bottom: 45px;
  }
/*projects*/
  .projects {
    padding-top: 76px;
    padding-bottom: 57px;
  }
  .projects-swiper {
    max-width: 825px;
  }

  .projects__descr {
    width: 100%;
  }

  .partners-link {
    min-height: 125px;
  }

  .partners-link__img {
    width: 55%;
  }

  .swiper-button-prev-projects {
    left: 51px;
    top: 83%;
  }

  .swiper-button-next-projects {
    right: 50px;
    top: 83%;
  }

  /*contacts*/

 /* .contacts__container {
    padding-top: 43px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }

  .contacts-form {
    gap: 20px;
  }

  .contacts-form__btn {
    width: 344px;
  }*/

  /*map*/

  .map__container {
    padding: 0;
  }

  .map {
    height: 740px;
  }

  /*footer*/
  .footer {
    padding-bottom: 36px;
    padding-top: 40px;
  }

  .footer-social-link svg {
    width: 60px;
    height: 60px;
  }

  /*modal*/
  .modal{
    width: 594px;
    height: 594px;
    }
}

@media (max-width: 992px) {

  /*hero*/
  .hero__content {
    width: 100%;
  }

  /*gallery*/
  .gallery__container {
    flex-direction: column;
    gap: 12px;
  }

  .gallery__wrapper {
    width: 42%;
  }

  .choices {
    margin-bottom: 38px;
  }

  .gallery__swiper {
    width: 668px;
  }

  .modal-btn-open::after {
    width: 345%;
    height: 360%;
    left: -121%;
    top: -112%;
}
  /*catalog*/
  .catalog__content {
    flex-direction: column;
  }

  .tabs-content {
    width: 100%;
    order: 2;
  }

  .catalog__accordion-block {
    width: 100%;
  }

  .catalog__descr {
    margin-bottom: 17px;
  }

  .accordion__painter-list {
    columns: auto 3;
    padding-right: 0;
  }

  .accordion__btn {
    padding: 31px 0;
  }

  .catalog__content {
    gap: 51px;
  }

  .article-painter__img-wrapper {
    margin-bottom: 17px;
  }

  .article-painter__date {
    margin-bottom: 9px;
  }

  /*events*/
  .events__title {
    margin-bottom: 20px;
  }

  /*projects*/
  .projects__descr {
    margin-bottom: 25px;
  }

  .partners-link {
    min-height: 110px;
  }

  .projects-swiper {
    max-width: 570px
  }

  .partners-link__img {
    width: 50%;
  }

  .swiper-button-next-projects,
  .swiper-button-prev-projects {
    top: 90%;
  }

  /*contacts*/
  .contacts__container {
    padding-top: 67px;
    padding-bottom: 41px;
  }

  .contacts-form {
    flex-wrap: wrap;
  }

  .contacts-form__input {
    width: 322px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .contacts-form__btn {
    width: 319px;
    padding: 10.5px 18px;
    margin-top: -9px;
  }

  /*map*/
  .map {
    height: 700px;
  }

  /*modal*/

  .modal{
  width: 668px;
  height: 594px;
  }

  .search-form-modal {
    width: 100%;
    padding: 32px 50px;
  }

  .search-form__input{
    width: 90%;
  }
}

@media (max-width: 760px) {
  .gallery__wrapper {
    width: 50%;
  }

  .gallery__swiper {
    max-width: 580px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .gallery__swiper .swiper-button-next {
    top: 96%;
    left: 62%;
  }

  .gallery__swiper .swiper-button-prev {
    top: 96%;
    left: 28%;
  }

  .gallery__swiper .swiper-pagination {
    top: 92%;
    left: 44%;
  }

  .gallery__swiper .swiper-pagination {
    top: 92%;
    left: 44%;
  }

  .modal-btn-open {
    left: 50%;
  }

  .modal-btn-open::after {
    width: 286%;
    height: 394%;
    top: -126%;
    left: -91%;
  }

  .events-swiper {
    width: 500px;
  }

  .projects-swiper {
    max-width: 90%;
  }

  .partners-link {
    min-height: 90px;
  }

  .swiper-button-next-projects, .swiper-button-prev-projects {
    top: 91%;
  }

  .swiper-button-prev-projects {
    left: 5%;
  }

  .swiper-button-next-projects {
    right: 5%;
  }

  .partners-link__img {
    width: 40%;
  }


}

@media (max-width: 660px) {
  .hero__title {
    margin-bottom: 2px;
    font-size: 54px;
    line-height: 66px;
  }

  .gallery__wrapper {
    width: 100%;
  }

  .choices__list--dropdown, .choices__list[aria-expanded] {
    background: rgba(0, 0, 0, 0.9);
  }

  .gallery__swiper {
    max-width: 290px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .accordion__painter-list {
    columns: auto 2;
    padding-right: 0;
  }

  /*projects*/

  .partners-link {
    min-height: 95px;
  }

  .swiper-button-next-projects, .swiper-button-prev-projects {
    top: 93%;
  }

  .partners-link__img {
    width: 60%;
  }

}


@media (max-width: 576px) {

  /*projects*/

  /*.partners-link {
    min-height: 95px;
  }

  .swiper-button-next-projects, .swiper-button-prev-projects {
    top: 93%;
  }

  .swiper-button-prev-projects {
    left: 5%;
  }

  .swiper-button-next-projects {
    right: 5%;
  }

  .partners-link__img {
    width: 60%;
  }*/

}


@media (max-width: 510px) {

  .container {
    padding: 0 15px;
  }

  .header__top {
    padding: 12px 0;
  }

  .header__logo {
    width: 96.8px;
    height: 21.67px;
  }

  .header__btn-search svg {
    width: 16px;
    height: 16px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger__line {
    height: 2px;
  }

  .burger__line:nth-child(1) {
    width: 25px;
  }

  .burger__line:nth-child(2) {
    width: 16px;
  }

  .burger__line:nth-child(3) {
    width: 10px;
  }

  /*hero*/
  .hero {
  padding-top: 29px;
  padding-bottom: 56px;
  }

  .hero__container {
    text-align: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 44px;
  }

  .hero__descr {
    width: 85%;
    margin-bottom: 51px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    padding: 11.5px 19px;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__content {
    align-items: center;
  }

  /*about*/

  .about {
    padding-top: 49px;
    padding-bottom: 41px;
  }

  .title {
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
  }

  .about__title {
    margin-bottom: 13px;
  }

  .about__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  /*gallery*/
  .gallery {
    padding: 50px 0 47px;
  }

  .gallery__container {
    gap: 30px;
  }

  /*.gallery__wrapper {
    width: 100%;
  }*/

  .gallery__title {
    margin-bottom: 11px;
  }

  .gallery__subtitle {
    margin-bottom:  2px;
  }

  .choices {
    margin-bottom: 30px;
  }

  /*.gallery__swiper {
    max-width: 290px;
    padding-top: 0;
    padding-bottom: 50px;
  }*/

  /*.gallery__swiper .swiper-button-next {
    top: 96%;
    left: 62%;
  }

  .gallery__swiper .swiper-button-prev {
    top: 96%;
    left: 28%;
  }

  .gallery__swiper .swiper-pagination {
    top: 92%;
    left: 44%;
  }*/

  /*.choices__list--dropdown, .choices__list[aria-expanded] {
    background: rgba(0, 0, 0, 0.9);
  }*/

  /*catalog*/

  .catalog {
    padding-top: 50px;
    padding-bottom: 54px;
  }

  .catalog__title {
    margin-bottom: 11px;
  }

  .catalog__descr {
    display: none;
  }

  .accordion__btn {
    padding: 20px 0;
  }

  .accordion__btn-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .accordion-btn__svg {
    width: 30px;
    height: 30px;
  }

  .accordion__painter-list {
    padding: 20px 0;
    columns: 1;
  }

  .article-painter__date {
    margin-bottom: 14px;
  }

  /*events*/
  .events__title {
    margin-bottom: 11px;
  }

  .article-events__content {
    padding: 16px 18px 48px 22px;
  }

  .article-events__address-time {
    margin-bottom: 8px;
  }

  .events-swiper .swiper-pagination-events {
    top: 96%;
  }

  .swiper-pagination-events .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0px var(--swiper-pagination-bullet-horizontal-gap,7px);
  }

  /*projects*/
  .projects {
    padding-top: 36px;
    padding-bottom: 39px;
  }

  .projects__title {
    margin-bottom: 11px;
  }

  .projects__descr {
    margin-bottom: 50px;
  }

  .projects__subtitle {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .projects-swiper {
    max-width: 67%;
  }

  .partners-link {
    min-height: 63px;
  }

  .swiper-button-next-projects, .swiper-button-prev-projects {
    top: 95%;
  }
  /*
  .swiper-button-prev-projects {
    left: 5%;
  }

  .swiper-button-next-projects {
    right: 5%;
  }*/

  .partners-link__img {
    width: 56%;
  }

  /*contacts*/

  .contacts__title {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px
  }

  .contacts__container {
    gap: 22px;
  }

  .contacts__address {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px
  }

  .contacts__container {
    padding-bottom: 17px;
    border: none;
  }

  .contacts-form__input {
    width: 291px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .contacts-form__btn {
    width: 129px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;


  }
  .contacts-form__btn-text {
    display: none;
  }

  .contacts-form {
    flex-direction: column;
    gap: 26px;
  }

  .contacts-title-2 {
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px
  }

  .contacts-social-link__svg {
    width: 50px;
    height: 50px;
  }

  .map {
    height: 320px;
  }

  .footer {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .footer__container {
    flex-direction: column;
    gap: 16px;
  }

  .footer__logo {
    margin: 0;
    width: 96.8px;
    height: 21.67px;
    order: 2;
  }

  .footer-social-link svg {
    width: 50px;
    height: 50px;
  }

  /*modal*/
  .header__nav {
    top: 42px;
  }

  .nav__list {
    margin-bottom: 40px;
    gap: 0;
  }

  .nav__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }

  .nav__link-enter {
    max-width: 115px;
    padding: 11px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .search-form-modal {
    padding: 0px 15px;
  }

  .search-form-modal__cansel svg,
  .search-form-modal__btn svg {
    width: 20px;
    height: 20px;
  }

  .modal-btn-open {
    left: 50%;
  }

  .modal {
    width: 290px;
    height: 400px;
    left: 41%;
  }

  .modal__container {
    flex-direction: column;
  }

  .modal__content {
    padding: 30px 15px;
  }

  .modal__time {
    margin-bottom: 12px;
  }
}
