/* @media (max-width: 1560px) {

  .gallery__swiper {
    margin: 0;
    width: 50%;
  }

  .gallery__container {
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }

}

@media (max-width: 1440px) {
  .gallery__swiper {
    width: 55%;
  }
}
*/
@media (max-width: 1360px) {

  /*header*/
  .container {
    padding: 0 50px;
  }

  .header__nav {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: 90px;
    min-width: 420px;
    height: 100vh;
    z-index: 1000;
    padding: 50px 50px;
    box-shadow: 0px 50px 40px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.9);
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
    outline: none;
  }

  .nav__list {
    flex-direction: column;
    margin-bottom: 73px;
  }

  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }

  .nav__link-enter {
    width: 70%;
    padding: 19px 0 23px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .burger {
    position: relative;
    display: block;
    width: 36px;
    height: 28px;
  }

  .burger__line {
    position: absolute;
    left: 0;
    width: 36px;
    height: 3.65px;
    background-color: #ffffff;
  }

  .stop-scroll {
    overflow: hidden;
  }

  .burger__line:nth-child(1) {
    top: 0;
  }


  .burger__line:nth-child(2) {
    width: 28px;
    top: 50%;
    transform:translateY(-50%);
  }

  .burger__line:nth-child(3) {
    bottom: 0;
    width: 24px;
  }

  .burger:focus-visible {
    outline-offset: 5px;
    outline: 2px solid var(--color-violet-text);
  }

  .burger--active .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger--active .burger__line:first-child {
    width: 36px;
    left: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger--active .burger__line:last-child {
    width: 36px;
    bottom: auto;
    left: 0;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .header__btn-search {
    display: block;
  }

  .header__link-enter {
    display: none;
  }

  .header__logo {
    margin: 0;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__bottom {
    display: none;
  }

  /*hero*/
  .hero {
    padding: 105px 0px 137px 0px;
  }

  .hero__content {
    width: 75%;
  }

  .hero__title {
    margin-bottom: -10px;
  }

  .hero__descr {
    margin-bottom: 155px;
  }

  /*about*/
  .about__descr {
    width: 100%;
  }

  /*gallery*/
  .gallery {
    padding: 78px 0 77px;
  }

  .gallery__container {
    justify-content: space-between;
  }

  .choices {
    margin-bottom: 102px;
  }

  .gallery__wrapper {
    align-self: flex-start;
    width: 38%;
  }

  .gallery__swiper {
    padding-top: 87px;
  }

  .gallery__swiper .swiper-button-prev {
    top: 41px;
  }

  .gallery__swiper .swiper-button-next {
    top: 42px;
  }

  .gallery__swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 27px;
  }

  .modal-btn-open::after {
    width: 279%;
    height: 319%;
    left: -90%;
    top: -90%;
  }

  /*catalog*/
  .catalog__descr {
    width: 100%;
  }

  .accordion__painter-list {
    padding: 25px 0;
    columns: auto 2;
    column-gap: 60px;
  }

  .accordion__painter-item {
  margin-right: -7px;
  }

/*events*/

  .events__title {
    margin-top: -4px;
    margin-bottom: 13px;
  }

  .article-events__content {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 48px;
  }

  .article-events {
    min-height: 682px;
  }

  .article-events__address-time {
    align-self: flex-end;
    margin-bottom: 2px;
  }

  .article-events__address-time address {
    padding-left: 42px;
  }

  .swiper-button-next-events {
    display: none;
  }

  .events-swiper .swiper-pagination-events {
    display: block;
    top: 98%;
  }

  .swiper-pagination-events .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-events .swiper-pagination-bullet-active {
    background-color: #666666;
  }

  .events__list {
    padding-bottom: 45px;
  }
/*projects*/
  .projects {
    padding-top: 76px;
    padding-bottom: 57px;
  }
  .projects-swiper {
  max-width: 825px;
  }

  .projects__descr {
    width: 100%;
  }

  .partners-link {
    min-height: 125px;
  }

  .partners-link__img {
    width: 55%;
  }

  .swiper-button-prev-projects {
    left: 51px;
    top: 83%;
  }

  .swiper-button-next-projects {
    right: 50px;
    top: 83%;
  }

  /*contacts*/

  .contacts__container {
    padding-top: 43px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }

  .contacts-form {
    gap: 20px;
  }

  .contacts-form__btn {
    width: 344px;
  }

  /*map*/

  .map__container {
    padding: 0;
  }

  .map {
    height: 740px;
  }

  /*footer*/
  .footer {
    padding-bottom: 36px;
    padding-top: 40px;
  }

  .footer-social-link svg {
    width: 60px;
    height: 60px;
  }

}
