html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
	  url('../fonts/OpenSansRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold'), local('Open Sans-Semibold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('Open Sans Bold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('Open-Sans-Italic'),
    url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

/*glob*/
.page {
  min-width: 320px;
	font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --background-violet-light: #D1A9F0;
  --background-violet-normal: #9D5CD0;
  --background-violet-dark: #7943A4;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-text: #333333;
  --color-violet-text: #C283F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}

.btn {
  border-radius: 100px;
}

.offset {
  padding: 80px 0;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px
}
/*header*/
/*header-top*/
.header__top {
  padding: 30px 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  margin-right: auto;
}

.nav__list {
  gap: 62px;
}

.nav__link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header__link-enter {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.link-enter__icon {
  transition: fill 0.3s ease-in-out;
}

.header__logo:focus-visible {
  outline-offset: 8px;
  outline: 1px solid var(--color-violet-text);
  border-radius: 2px;
}

.header__link-enter:focus-visible,
.nav__link:focus-visible {
  outline: none;
  background-color: var(--background-violet-dark);
}

.header__link-enter:hover,
.nav__link:hover {
  color: var(--color-violet-text);
}

.header__link-enter:active,
.nav__link:active {
  color: var(--background-violet-dark);
}

.header__link-enter:hover .link-enter__icon {
  fill: var(--color-violet-text);
}

.header__link-enter:active .link-enter__icon {
  fill: var(--background-violet-dark);
}


/*header--bottom*/
.header__bottom {
  padding: 23px 0 28px 0;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

.header__menu {
  margin-right: auto;
}

.menu__list {
  gap: 96px;
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.search-form__btn {
  margin-right: 9px;
}

.search-form__input {
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
}

/*hero*/
.hero {
  padding: 63px 0px 122px 0px;
}

.hero__bg-container {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -640px;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
}

.hero__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.hero__slide--image1 {
  background-image: url(../img/hero-bg-1.jpg);
}

.hero__slide--image2 {
  background-image: url(../img/hero-bg-2.jpg);
}

.hero__slide--image3 {
  background-image: url(../img/hero-bg-3.jpg);
}

.hero__content {
  width: 50%;
}

.hero__title {
  margin: 0;
  margin-bottom: 1px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 92px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  padding: 22.5px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-color: var(--background-violet-normal);
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
}

.hero__btn:focus-visible {
  border: none;
  outline-offset: 5px;
  outline: 2px solid #C283F3;
  border-radius: 100px;
}

.hero__btn:hover {
  outline: 3px solid #D1A9F0;
  border-radius: 100px;
}

.hero__btn:active {
  background-color: var(--background-violet-dark);
  outline-offset: 0;
  outline: 3px solid #D1A9F0;
  border-radius: 100px;
}


/*about*/
.about {
  background-color: var(--color-white);
}

.about__title {
  margin: 0;
  margin-bottom: 16px;
}

.about__descr {
  margin: 0;
}

/*gallery*/
.gallery {
  background-image: url(../img/gallery-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__container {
  align-items: flex-end;
  gap: 50px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--color-white);
}

.gallery__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

/*.gallery__select {
  margin-bottom: 176px;
}*/

.gallery__checkbox-wrapper {
  flex-direction: column;
}

.gallery__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.gallery__checkbox {
  display: none;
}

.gallery__checkbox-fake {
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid #FFFFFF;
  transition: border-color 0.2s ease-in-out;
}

.gallery__checkbox-fake::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #C283F3;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__checkbox-text {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
}

.gallery__checkbox:checked + .gallery__checkbox-fake::after {
  opacity: 1;
}

.gallery__checkbox:checked + .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:focus {
  outline: none;
}

.gallery__label:focus-visible .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:focus-visible .gallery__checkbox-text {
  color: var(--color-violet-text);
}

.gallery__label:hover .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:active  .gallery__checkbox-text {
  color: var(--color-violet-text);
}

/*libs-gallery-choices*/
.choices {
  width: 400px;
  margin-bottom: 176px;
  transition: background-color 0.3s ease-in-out;
}

.choices__inner {
  padding-left: 16px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px
}

.choices.is-open .choices__inner {
  border: 1px solid #FFFFFF;
  border-radius: 6px
}

.is-focused .choices__inner, .is-open .choices__inner {
  background: rgba(255, 255, 255, 0.2);
  border-color: #FFFFFF;
}

.choices__placeholder {
  opacity: 1;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
  border-top: 1px solid #999999;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background: transparent;
  border: 1px solid #999999;
  border-radius: 6px
}

.is-open .choices__list--dropdown, .is-open  .choices__list[aria-expanded] {
  border-color: #999999;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  color: #999999;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  background-image: url(../img/gallery-select-arrow-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  right: 15.5px;
  margin-top: -0.5px;
  border: none;
}

.choices:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-open[data-type*=select-one]::after {
  margin-top: -0.5px;
  transform: rotate(180deg);
}

/*libs-gallery-swipper*/
.gallery__swiper .swiper-pagination {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallery__swiper {
  padding-top: 50px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 0;
  left: 38px;
  width: max-content;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: '';
}

.swiper-button-next, .swiper-button-prev {
  min-width: 30px;
  top: 0;
  left: 0;
}

.swiper-button-next {
  top: 17px;
  left: 80px;
}

.swiper-button-prev {
  top: 17px;
  left: 0;
}
