html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
	  url('../fonts/OpenSansRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Semibold'), local('Open Sans-Semibold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Bold'), local('Open Sans Bold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
		url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans Italic'), local('Open-Sans-Italic'),
    url('../fonts/OpenSansItalic.woff2') format('woff2'),
		url('../fonts/OpenSansItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
  font-display: swap;
}

/*glob*/
.page {
  min-width: 320px;
	font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --background-violet-light: #D1A9F0;
  --background-violet-normal: #9D5CD0;
  --background-violet-dark: #7943A4;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-text: #333333;
  --color-violet-text: #C283F3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0 );
  overflow: hidden;
}

.btn {
  border-radius: 100px;
}

.offset {
  padding: 80px 0;
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-text);
}

.desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}
/*header*/
/*header-top*/
.burger {
  display: none;
}

.header__top {
  padding: 30px 0;
  color: var(--color-white);
  background-color: var(--color-black);
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  display: flex;
  margin-right: auto;
}

.nav__list {
  gap: 62px;
}

.nav__link {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  z-index: 0;
}

.header__btn-search,
.nav__link-enter {
  display: none;
}

.header__link-enter {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  z-index: 0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.menu__link::after,
.header__link-enter::after,
.nav__link::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  left: -10%;
  top: 0;
}

.link-enter__icon {
  transition: fill 0.3s ease-in-out;
}

.logo-link:focus-visible {
  outline-offset: 8px;
  outline: 3px solid var(--color-violet-text);
  border-radius: 2px;
}

.menu__link:focus-visible:after,
.header__link-enter:focus-visible::after,
.nav__link:focus-visible::after {
  background-color: var(--background-violet-dark);
  z-index: -100;
}

.menu__link:focus-visible,
.header__link-enter:focus-visible,
.nav__link:focus-visible {
  outline: none;
}

.header__link-enter:hover,
.nav__link:hover {
  color: var(--color-violet-text);
}

.header__link-enter:active,
.nav__link:active {
  color: var(--background-violet-dark);
}

.header__link-enter:hover .link-enter__icon {
  fill: var(--color-violet-text);
}

.header__link-enter:active .link-enter__icon {
  fill: var(--background-violet-dark);
}


/*header--bottom*/
.header__bottom {
  position: relative;
  padding: 23px 0 17px 0;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
}

.header__menu {
  margin-right: auto;
}

.menu__list {
  gap: 96px;
}

.menu-link {
  position: relative;
  align-items: center;
  gap: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  z-index: 0;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.menu-link__svg {
  transition: transform 0.3s ease-in-out;
}

.menu-link__stroke {
  transition: stroke 0.3s ease-in-out;
}


.menu__link:hover {
  color: var(--background-violet-normal);
}

.menu__link:hover .menu-link__stroke {
  stroke: var(--background-violet-normal);
}

.menu__link:active .menu-link__stroke {
  stroke: var(--background-violet-dark);
}

.menu__link:active  {
  color: var(--background-violet-dark);
}

.menu__link:active .menu-link__svg {
  transform: rotate(180deg);
}

.search-form__btn {
  margin-right: 9px;
}

.search-form__input {
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transition: visibility 0.1s ease-in-out;
}

.search-form__btn:focus {
  outline-offset: 8px;
  outline: 3px solid var(--color-violet-text);
  border-radius: 5px;
}

.search-form__input:hover,
.search-form__input:focus-visible {
  outline: none;
  border-bottom-color: #C283F3;
}

.search-form__input:focus::placeholder,
.search-form__input:active::placeholder {
  visibility: hidden;
}


.search-form-modal {
  position: absolute;
  padding-right: 50px;
  right: 0;
  display: none;
  width: 314px;
  background: #000000;
}

.search-form--active {
  display: flex;
}

/*dropdown*/
.dropdown__list {
  position: absolute;
  top: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}

.dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 14px;
  width: 220px;
  height: 40px;
}

.dropdown__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
}

.dropdown__link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: outline 0.3s ease-in-out;
}

.dropdown__item--tintoretto {
  background-image: url(../img/menu-realism-bg-1.jpg);
}

.dropdown__item--friedrich {
  background-image: url(../img/menu-realism-bg-2.jpg);
}

.dropdown__item--leonardo {
  background-image: url(../img/menu-realism-bg-3.jpg);
}

.dropdown__item--verrocchio {
  background-image: url(../img/menu-realism-bg-4.jpg);
}

.dropdown__item--mone {
  background-image: url(../img/menu-impr-bg-1.jpg);
}

.dropdown__item--sisley {
  background-image: url(../img/menu-impr-bg-2.jpg);
}

.dropdown__item--mane {
  background-image: url(../img/menu-impr-bg-3.jpg);
}

.dropdown__item--renoir {
  background-image: url(../img/menu-impr-bg-4.jpg);
}

.dropdown__item--van-gogh {
  background-image: url(../img/menu-postimpr-bg-1.jpg);
}

.dropdown__item--cezanne {
  background-image: url(../img/menu-postimpr-bg-2.jpg);
}

.dropdown__item--gauguin {
  background-image: url(../img/menu-postimpr-bg-3.jpg);
}

.dropdown__item--seurat {
  background-image: url(../img/menu-postimpr-bg-4.jpg);
}

.dropdown__item--kandinsky {
  background-image: url(../img/menu-avangard-bg-1.jpg);
}

.dropdown__item--marinetti {
  background-image: url(../img/menu-avangard-bg-2.jpg);
}

.dropdown__item--malevich {
  background-image: url(../img/menu-avangard-bg-3.jpg);
}

.dropdown__item--picasso {
  background-image: url(../img/menu-avangard-bg-4.jpg);
}

.dropdown__item--carra {
  background-image: url(../img/menu-futurism-bg-1.jpg);
}

.dropdown__item--pratella {
  background-image: url(../img/menu-futurism-bg-2.jpg);
}

.dropdown__item--severini {
  background-image: url(../img/menu-futurism-bg-3.jpg);
}

.dropdown__item--balla {
  background-image: url(../img/menu-futurism-bg-4.jpg);
}

.dropdown__list--active {
  visibility: visible;
  opacity: 1
}

.btn--active .menu-link__svg {
  transform: rotate(180deg);
}

.dropdown__link:focus {
  outline: none;
}

.dropdown__link:hover::after,
.dropdown__link:focus::after {
  outline: 2px solid var(--background-violet-normal);
}

.dropdown__link:active::after {
  outline: none;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
}

/*scroll*/
.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-offset {
  padding-bottom: 40px;
}

.simplebar-content {
  display: flex;
  flex-direction: column;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.simplebar-scrollbar::before {
  background: var(--color-white);
  left: 0px;
  right: 0px;
  width: 2px;
  border-radius: 0;
  opacity: 0.5;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical{
  top: 40px;
  right: 19px;
  height: 220px;
  width: 2px;
  background: var(--color-black);
}

/*hero*/
.hero {
  padding: 63px 0px 145px 0px;
}

.hero__bg-container {
  position: absolute;
  left: 0;
  z-index: -1;
  margin-top: -640px;
  width: 100%;
  min-height: 790px;
  overflow: hidden;
}

@keyframes hero {
  0% {
    background-image: url(../img/hero-bg-1.jpg);
    transition-timing-function: cubic-bezier (.1,.7,1,1);
  }

  33% {
    background-image: url(../img/hero-bg-2.jpg);
    transition-timing-function: cubic-bezier (.1,.7,1,1);
  }

  66% {
    background-image: url(../img/hero-bg-3.jpg);
    transition-timing-function: cubic-bezier (.1,.7,1,1);
  }

  99%{
    background-image: url(../img/hero-bg-1.jpg);
    transition-timing-function: cubic-bezier (.1,.7,1,1);
  }
}

.hero__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: hero 21s infinite 0s normal both;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.hero__slide--image1 {
  background-image: url(../img/hero-bg-1.jpg);
}

.hero__content {
  flex-direction: column;
  width: 37%;
}

.hero__title {
  margin: 0;
  margin-bottom: -3px;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--color-white);
}

.hero__descr {
  margin: 0;
  margin-bottom: 114px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--color-white);
}

.hero__btn {
  padding: 22.5px 35px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-color: var(--background-violet-normal);
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out, outline-offset 0.3s ease-in-out;
}

.hero__btn:focus-visible {
  border: none;
  outline-offset: 5px;
  outline: 2px solid #C283F3;
  border-radius: 100px;
}

.hero__btn:hover {
  outline: 3px solid #D1A9F0;
  border-radius: 100px;
}

.hero__btn:active {
  background-color: var(--background-violet-dark);
  outline-offset: 0;
  outline: 3px solid #D1A9F0;
  border-radius: 100px;
}


/*about*/
.about {
  padding-bottom: 71px;
  background-color: var(--color-white);
}

.about__title {
  margin: 0;
  margin-bottom: 16px;
}

.about__descr {
  margin: 0;
  width: 67%;
}

/*gallery*/
.gallery {
  padding-bottom: 76px;
  background-image: url(../img/gallery-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__wrapper {
  width: 28%
}

.gallery__container {
  align-items: flex-end;
  gap: 50px;
}

.gallery__title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--color-white);
}

.gallery__subtitle {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

/*.gallery__select {
  margin-bottom: 176px;
}*/

.gallery__checkbox-wrapper {
  flex-direction: column;
}

.gallery__label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.gallery__checkbox {
  display: none;
}

.gallery__checkbox-fake {
  position: absolute;
  left: 0;
  width: 12px;
  height: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid #FFFFFF;
  transition: border-color 0.2s ease-in-out;
}

.gallery__checkbox-fake::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #C283F3;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__checkbox-text {
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  transition: color 0.2s ease-in-out;
}

.gallery__checkbox:checked + .gallery__checkbox-fake::after {
  opacity: 1;
}

.gallery__checkbox:checked + .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:focus {
  outline: none;
}

.gallery__label:focus-visible .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:focus-visible .gallery__checkbox-text {
  color: var(--color-violet-text);
}

.gallery__label:hover .gallery__checkbox-fake {
  border-color: var(--color-violet-text);
}

.gallery__label:active  .gallery__checkbox-text {
  color: var(--color-violet-text);
}

/*libs-gallery-choices*/
.choices {
  margin-bottom: 176px;
  transition: background-color 0.3s ease-in-out;
}

.choices__inner {
  height: 40px;
  padding-top: 0;
  padding-left: 11px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px
}

.choices.is-open .choices__inner {
  border: 1px solid #FFFFFF;
  border-radius: 6px
}

.is-focused .choices__inner, .is-open .choices__inner {
  background: rgba(255, 255, 255, 0.2);
  border-color: #FFFFFF;
}

.choices__placeholder {
  opacity: 1;
}

.choices__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
  border-top: 1px solid #999999;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background: transparent;
  border: 1px solid #999999;
  border-radius: 6px
}

.is-open .choices__list--dropdown, .is-open  .choices__list[aria-expanded] {
  border-color: #999999;
}

.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
  color: #999999;
}

.choices[data-type*=select-one]::after {
  position: absolute;
  background-image: url(../img/gallery-select-arrow-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  right: 15.5px;
  margin-top: -0.5px;
  border: none;
}

.choices:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-open[data-type*=select-one]::after {
  margin-top: -0.5px;
  transform: rotate(180deg);
}

/*libs-gallery-swipper*/
.gallery__swiper .swiper-pagination {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallery__swiper {
  width: 80%;
  padding-top: 65px;
}

.gallery__swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  top: 3px;
  left: 51px;
  width: max-content;
}

.gallery__swiper .swiper-button-prev:after, .swiper-button-next:after {
  content: '';
}

.gallery__swiper .swiper-button-next, .swiper-button-prev {
  min-width: 30px;
}

.gallery__swiper .swiper-button-next {
  top: 18px;
  left: 102px;
}

.gallery__swiper .swiper-button-prev {
  top: 18px;
  left: 2px;
}


.gallery__swiper .swiper-button-fill {
  transition: fill 0.3s ease-in-out;
}

.gallery__swiper-button:focus {
  outline: none;
}

.gallery__swiper-button:focus-visible .swiper-button-svg {
  outline: 2px solid #ffffff;
  border-radius: 100px;
}

.gallery__swiper-button:hover .swiper-button-fill {
  fill: var(--background-violet-normal);
}

.gallery__swiper-button:active .swiper-button-svg {
  outline: 2px solid #000000;
  border-radius: 100px;
}

/*catalog*/
.catalog {
  background: var(--color-white);
}

.catalog__content {
  gap: 50px;
}

.catalog__accordion-block {
  width: 50%;
  max-width: 800px;
  flex-grow: 1;
}

.tabs-content {
  width: 50%;
  max-width: 750px;
  margin-right: auto;
}

.catalog__title {
  margin: 0;
  margin-bottom: 16px;
}

.catalog__descr {
  margin: 0;
  margin-bottom: 38px;
  width: 69%;
}

.article-painter__image {
  width: 100%;
}

.article-empty,
.article-painter {
  flex-direction: column;
  max-width: 750px;
}

.artcile-painter__descr-wrapper,
.artcile-empty__descr-wrapper {
  flex-direction: column;
}

.article-empty__img-wrapper,
.article-painter__img-wrapper {
  margin-bottom: 27px;
}

.subtitle-general {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text);
}

.article-empty__heading,
.article-painter__name {
  margin: 0;
  margin-bottom: 7px;
}

.article-painter__date {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.accordion__painter-item {
  margin-right: 0;
}

.article-painter__descr {
  margin: 0;
}

.article-empty__descr {
  margin: 0;
  margin-bottom: 15px;
}

.empty-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--background-violet-normal);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


/*catalog__accordion-block*/
.catalog__list {
  border-top: 0.5px solid #CACACA;
  border-bottom: 0.5px solid #CACACA;
}

.accordion__btn {
  padding: 31px 0;
  width: 100%;
  align-items: center;
  border-top: 0.5px solid #CACACA;
  border-bottom: 0.5px solid #CACACA;
  transition: border-color 0.3s ease-in-out;
}

.accordion__btn-name {
  margin-right: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.accordion__painter-list {
  padding: 25px 0;
  columns: auto 3;
}

.accordion__painter-list hr {
  break-after: column;
  border: none;
}

.accordion-empty {
  padding: 25px 225px 25px 0;
  gap: 24px;
  align-items: center;
}

.accordion-empty__block {
  padding: 8px;
  width: 50%;
  height: 189px;
  border: 2px solid #999999;
}

.accordion-empty__image {
  width: 100%;
  height: 100%;
  background: #999999;
}

.accordion-empty__content {
  width: 50%;
}

.accordion-empty__heading {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
}

.accordion-empty__descr {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.accordion__btn:focus-visible {
  outline: none;
}

.accordion-btn__fill {
  transition: fill 0.3s ease-in-out;
}

.accordion__btn:focus-visible .accordion__btn-name {
  color: var(--color-white);
  background-color: var(--background-violet-normal);
}

.accordion__btn:focus-visible .accordion-btn__fill,
.accordion__btn:hover .accordion-btn__fill {
  fill: #D1A9F0;
}

.accordion__btn:hover .accordion__btn-name{
  color: var(--background-violet-normal);
}

.accordion__btn:hover {
  border-color: var(--background-violet-normal);
}

.accordion__btn:active {
  border-color: var(--background-violet-dark);
}

.accordion__btn:active .accordion__btn-name{
  color: var(--background-violet-dark);
}

.accordion__btn:active .accordion-btn__svg {
  border: 2px solid var(--background-violet-dark);
  border-radius: 100px;
}


/*catalog-libs-accordeon*/

.accordion__content {
	overflow: hidden;
	visibility: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}

.accordion--active .accordion__content {
	visibility: visible;
}

.accordion--active svg {
  transform: rotate(180deg);
}

/*catalog-accordeon-tabs*/

.tabs-nav__btn {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
  transition: background-color 0.3s ease-in-out;
}

.tabs-nav__btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--background-violet-normal);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tabs-nav__btn--active {
  color: var(--background-violet-dark);
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

.tabs-nav__btn:focus-visible {
  outline: none;
  background-color: var(--background-violet-normal);
}

.tabs-nav__btn:hover::after {
  opacity: 1;
}

.tabs-nav__btn--active:hover::after  {
  display: none;
}

.tabs-nav__btn:active::after  {
  display: none;
}


/*events*/

.events__title {
  margin: 0;
  margin-bottom: 14px;
}

.article-events {
  flex-direction: column;
  max-width: 500px;
  min-height: 700px;
  border: 1px solid #CACACA;
}

.article-events__img {
  width: 100%;
}

.article-events__content {
  padding: 13px 50px 43px;
  flex-direction: column;
  flex-grow: 1;
}

.article-events__address-time {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.article-events__subtitle {
  margin: 0;
  margin-bottom: 6px;
}

.article-events__descr {
  margin: 0;
  margin-bottom: auto;
}

.link-more {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border-bottom: 1px solid var(--background-violet-normal);
  color: var(--background-violet-normal);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.link-more::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 25px;
  left: -6px;
  top: 0;
  transition: background-color 0.3s ease-in-out;
}

.link-more:focus-visible::after {
  background: var(--background-violet-normal);
  z-index: -1;
}

.link-more:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-white);
  color: var(--color-white);
}

.link-more:hover {
  color: var(--background-violet-dark);
  border-bottom-color: var(--background-violet-dark);
}

.link-more:active {
  color: var(--color-text);
  border-bottom-color: var(--color-text);
}

/*events-swiper*/
.events {
  background: var(--color-white);
}

.events__container {
  position: relative;
}

.swiper-button-next-events {
  position: absolute;
  top: 52%;
  right: -10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1;
}


/*events-pagination*/
.events-swiper .swiper-pagination-events {
  display: none;
  position: absolute;
  z-index: 10;
  top: 96%;
  left: 0;
  text-align: center;
  width: 100%;
  height: min-content;
}

/*projects*/
.projects {
  background: var(--color-white);
}

.projects__title {
  margin: 0;
  margin-bottom: 16px;
}

.projects__descr{
  width: 67%;
  margin: 0;
  margin-bottom: 20px;
}

/*tooltip*/

.tooltip {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.popup {
  padding: 11px;
  position: absolute;
  top: -390%;
  left: -835%;
  width: 264px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  background-color: var(--background-violet-normal);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.popup::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -35%;
  border: 10px solid transparent;
  border-top: 10px solid var(--background-violet-normal);
}

.popup-2 {
  top: -489%;
}

.popup-3 {
  top: -288%;
}

.popup-2::after {
  bottom: -28%;
}

.popup-3::after {
  bottom: -52%;
}

.tooltip__svg {
  transition: fill 0.3s ease-in-out;
}

.tooltip__svg:focus,
.tooltip__svg:hover  {
  outline: none;
  fill: #D1A9F0;
}

.tooltip__svg:focus + .popup,
.tooltip__svg:hover + .popup {
  opacity: 1;
}

.tooltip__svg:active {
  fill: var(--background-violet-normal);
}

.tooltip__svg:active .tooltip__svg-path {
  fill: var(--color-white);
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  min-height: 150px;
  border: 1px solid #CACACA;
  transition: border-color 0.3s ease-in-out;
}

.partners-link__img {
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.partners-link:focus-visible {
  outline: none;
  border-color: var(--background-violet-normal);
}

.partners-link:hover .partners-link__img {
  opacity: 1;
  filter: none;
}

.partners-link:active {
  border-color: var(--background-violet-normal);
}

/*projects-swiper*/
.projects__container {
  position: relative;
}

.projects-swiper {
  max-width: 1450px;
}

.swiper-button-next-projects,
.swiper-button-prev-projects {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 84%;
  cursor: pointer;
}

.swiper-button-prev-projects {
  left: 15px;
}

.swiper-button-next-projects {
  right: 14px;
}

/*swiper-btn-general: events+projects*/
.swiper-btn-fill {
  transition: fill 0.3s ease-in-out;
}

.swiper-btn-general:focus {
  outline: none;
}

.swiper-btn-general:focus-visible .swiper-svg {
  outline: 2px solid var(--background-violet-normal);
  border-radius: 100px;
}

.swiper-btn-general:hover .swiper-btn-fill {
  fill: #D1A9F0;
}

.swiper-btn-general:active .swiper-svg {
  fill: #D1A9F0;
  outline: 2px solid var(--background-violet-normal);
  border-radius: 100px;
}


/*contacts*/
.contacts {
  background: var(--color-white);
}

.contacts__container {
  max-width: 1920px;
  padding: 34px 158px;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #CACACA;
}

.contacts__title {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px
}

.contacts__address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.contacts-title-2 {
  margin-bottom: 6px;
}

.contacts__right {
  flex-direction: column;
}

.contacts-form__input {
  width: 270px;
  max-width: 100%;
  padding: 9px 43px 9px 24px;
  border: 1px solid var(--color-text);
  border-radius: 100px;
  cursor: pointer;
}

.contacts-form__btn {
  width: 329px;
  max-width: 100%;
  padding: 12.5px 18px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--background-violet-normal);
  border: 2px solid var(--background-violet-normal);
  border-radius: 100px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.1s ease-in-out;
}

.contacts__social-link {
  gap: 20px;
}

.contacts-social-link {
  transition: opacity 0.3s ease-in-out;
}

.contacts-social-link:focus-visible {
  outline: none;
  opacity: 0.5;
}

.contacts-social-link:hover {
  opacity: 0.7;
}

.contacts-social-link:active .contacts-social-link__svg {
  border: 1px solid #9D5CD0;
  border-radius: 100px;
}

.contacts-form__input:hover,
.contacts-form__input:focus {
  outline: none;
  background-color: #ECECEC;
}

.contacts-form__btn:focus-visible {
  outline-offset: 5px;
  outline: 2px solid #C283F3;
  border-radius: 100px;
}

.contacts-form__btn:hover {
  color: var(--color-white);
  background-color: var(--background-violet-normal);
}

.contacts-form__btn:active {
  color: var(--color-white);
  background-color: var(--background-violet-dark);
  border: 3px solid #D1A9F0;
}


 /*contacts-form-validate*/
.contacts-form {
  position: relative;
  display: flex;
  gap: 25px;
}

 .js-validate-error-label {
  position: absolute;
  color: #be2e2e;
}

.input-name + .js-validate-error-label{
  width: 25%;
  top: 100%;
  left: 3%;
}


.input-tel + .js-validate-error-label{
  top: 100%;
  left: 36%;
}

/*map*/
.map__container  {
  max-width: 1920px;
  padding: 0;
}

.map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale();
}
/*footer*/

.footer {
  background: var(--color-black);
  padding: 50px 0;
}

.footer__container {
  align-items: center;
}

.footer__logo {
  margin-right: auto;
}

.footer__social-link {
  gap: 20px;
}

.footer-social-link__fill {
  transition: fill 0.2s ease-in-out;
}

.footer-social-link:focus-visible {
  outline: none;
}

.footer-social-link:hover .footer-social-link__fill,
.footer-social-link:focus-visible .footer-social-link__fill  {
  fill: var(--color-white);
}

.footer-social-link:active .footer-social-link__fill {
  fill: var(--background-violet-normal);
}


/*link-hover*/

.empty-link:focus-visible {
  outline: none;
  background-color: var(--background-violet-normal);
  color: var(--color-white);
}

.empty-link:hover {
  border-bottom: 1px solid var(--background-violet-normal) ;
}

.empty-link:active {
  color: var(--background-violet-dark);
  border-bottom: 1px solid var(--background-violet-dark) ;
}


/*modal*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 900px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  z-index: 1010;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal__subtitle {
  margin: 0;
  margin-bottom: 6px;
}

.modal__picture-name {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.modal__time {
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.modal__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.modal__container {
  position: relative;
  align-items: center;
  background: #FFFFFF;
}

.modal__wrapper-img {
  flex-shrink: 0;
}

.modal__content {
  padding: 0 50px;
}

.modal__btn-cancel {
  position: absolute;
  top: 10px;
  right: 10px;
}

.gallery__image-block {
  position: relative;
}

.modal-btn-open {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 81px;
  height: 79px;
  transform: translate(-50%, -50%);
  z-index: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-btn-open::after {
  content: "";
  position: absolute;
  width: 372%;
  height: 381%;
  left: -137%;
  top: -129%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -100;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-btn-open:hover,
.modal-btn-open:hover::after {
  opacity: 1;
}

.closed {
  display: none;
}
